@import "tailwindcss";

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Tailwind Dark Mode Variant */
@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  /* background */
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary:var(--primary);
  --color-primary-muted:var(--primary-muted);
  
  --color-secondary:var(--secondary); 

  /* border */

  --color-primary-border:var(--primary-border);


  /* text */
  --color-heading-primary-text: var(--heading-primary-text);
  --color-heading-secondary-text: var(--heading-secondary-text);
  --color-heading-secondary-muted-text: var(--heading-secondary-muted-text);
}

:root {
  /* background */
  --background: #ffffff;
  --foreground: #171717;

  --primary:#D9D9D9;
  --primary-muted:#F5F5F5;

  --secondary:#F9F9FF;

  /* border */
  --primary-border:#969696;


  /* text */
  --heading-primary-text:#828282;
  --heading-secondary-text:#5D5A88;
  --heading-secondary-muted-text:#9795B5;
}

.dark {
  --background: #171717;
  --foreground: #ffffff;
}
